.faqContainer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px 0px 130px;
  background: #fffff5;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;

  h1 {
    width: 708px;
    height: 55px;
    font-family: Oxanium;
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4b4a4b;
    margin-bottom: 20px;
  }

  .faqItem {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px auto;
    padding: 20px;
    gap: 50px;
  }

  .faqContent {
    flex: 1;
    padding-right: 20px;

    h3 {
      width: 663px;
      height: 20px;
      font-family: Oxanium;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #4b4a4b;
    }

    p {
      margin-top: 10px;
      width: 915px;
      height: 40px;
      font-family: Oxanium;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #313131;
    }
  }

  .faqImage {
    width: 48px;
    height: 48px;
    margin-bottom: auto;
  }
}
